h1 {
	padding-top: 30px;
    font-size: 65px;
    text-align: center;
	line-height: 0px;
}

h2 {
	padding-top: 30px;
	padding-left: 50px;
    font-size: 40px;
    text-align: left;
	line-height: 0px;
}

h3 {
	padding-top: 30px;
    font-size: 35px;
    text-align: center;
	line-height: 0px;
}

p{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom:5px;
	text-align: justify;
}

#group {
	margin-top: 10px;
	margin-bottom: 10px;
}

#main {
	width: 1450px; 
	margin: 0 auto; 
	overflow: hidden;
}

#main_para {
	font-size: 20px;
}

#sub_para {
	font-size: 20px;
}

#filter_button {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#choropleth_map {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#scatterplot_mat {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_rank_1 {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_rank_2 {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_rank_3 {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_rank_4 {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_rank_5 {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_rank_6 {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_rank_7 {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_rank_8 {
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_score_1 {
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_score_2 {
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_score_3 {
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_score_4 {
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_score_5 {
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_score_6 {
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_score_7 {
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#simple_dot_score_8 {
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.vis-container {
    width: 100%;
}

.column {
	float: left;
	width: 50%;
}

.row:after {
	content: "";
	display: table;	
	clear: both;
}

.buttons { 
	display: flex;
    justify-content: space-around;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.buttons button { 
	width: 100%;
    margin: 10px;
}