h1 {
  padding-top: 30px;
  font-size: 65px;
  text-align: center;
  line-height: 0px;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  padding-top: 30px;
  padding-left: 50px;
  font-size: 40px;
  text-align: left;
  line-height: 0px;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  line-height: 0px;
  font-family: "Times New Roman", Times, serif;
}

p {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
  text-align: justify;
  font-family: Poppins;
}

#group {
  margin-top: 10px;
  margin-bottom: 10px;
}

#main {
  width: 1460px;
  margin: 0 auto;
  overflow: hidden;
}

.footer {
  font-family: "Poppins";
  font-size: 12px;
  text-align: center;
}

#footer {
  text-align: left;
}

#main_para {
  font-size: 18px;
}

#sub_para {
  font-size: 17px;
}

#filter_button {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: Poppins;
}

#choropleth_map {
  left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#heat_map {
  margin-left: 150px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_rank_1 {
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_rank_2 {
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_rank_3 {
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_rank_4 {
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_rank_5 {
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_rank_6 {
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_rank_7 {
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_rank_8 {
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_score_1 {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_score_2 {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_score_3 {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_score_4 {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_score_5 {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_score_6 {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_score_7 {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#simple_dot_score_8 {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#line1 {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#histogram {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#radar1 {
  left: 0;
  right: 0;
  margin-top: 20px;
  margin-bottom: 50px;
}

#radar2 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.vis-container {
  width: 100%;
}

.column {
  float: left;
  width: 50%;
}

.columns_3 {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.buttons button {
  width: 100%;
  margin: 10px;
}

@font-face {
  font-family: Poppins;
  src: url(Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(Poppins-Bold.ttf);
}
